<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ksit.erp.mapper.ErpPartsStreamMapper">
  <resultMap id="BaseResultMap" type="com.ksit.erp.entity.ErpPartsStream">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parts_id" jdbcType="INTEGER" property="partsId" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="employee_id" jdbcType="INTEGER" property="employeeId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parts_id, num, employee_id, `type`, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from erp_parts_stream
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from erp_parts_stream
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ksit.erp.entity.ErpPartsStream">
    insert into erp_parts_stream (id, parts_id, num, 
      employee_id, `type`, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{partsId,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, 
      #{employeeId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ksit.erp.entity.ErpPartsStream">
    insert into erp_parts_stream
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="partsId != null">
        parts_id,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="employeeId != null">
        employee_id,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="partsId != null">
        #{partsId,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="employeeId != null">
        #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ksit.erp.entity.ErpPartsStream">
    update erp_parts_stream
    <set>
      <if test="partsId != null">
        parts_id = #{partsId,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="employeeId != null">
        employee_id = #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ksit.erp.entity.ErpPartsStream">
    update erp_parts_stream
    set parts_id = #{partsId,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      employee_id = #{employeeId,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>