<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!--配置ActiveMQ ConnectionFactory-->
	<bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://118.25.144.105:61616"/>
	</bean>
	
	<!--Spring适配的连接工厂-->
	<bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
		<property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
	</bean>
	
	<!--配置JMSTemplate-->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<!--默认的目的地名称 可以省略，在发送时指定-->
		<property name="defaultDestinationName" value="weixin-Queue"/>
	</bean>
	
	<!-- 接收消息队列 -->
	<!-- 将监听器配置到spring 容器中  -->
	<bean id="listener" class="com.ksit.listener.WeiXinLinstener"/>
	
	<!--监听器容器-->
	 <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory"/>
		<property name="destinationName" value="weixin-Queue"/>
		<property name="messageListener" ref="listener"/>
	</bean>
	
</beans>
